.item {
  position: relative;
  border: 2px solid $content-color;
  margin: 0 1rem 2rem;
  background-color: $body-color;
  overflow: hidden;

  h1 {
    margin: 0.8rem 1rem 0 1rem;
  }

  small {
    margin: 1rem;
  }

  p {
    margin: 1rem;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 2px solid $content-color;

    p {
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
      line-height: 300px;
    }

    img {
      position: absolute;
      margin: auto;
      left: -100%;
      right: -100%;
    }
  }

  .banner {
    position: absolute;
    left: 0;
    top: 0;
  }

  &.projects {
    a {
      color:$projects-color;
    }
    .image {
      border-bottom-color: $projects-color;
    }
  }

  &.lab {
    a {
      color: $lab-color;
    }
    .image {
      height: 350px;
      border-bottom-color: $lab-color;
      p {
        line-height: 350px;
      }
      iframe {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        width: 100%;
        height: 350px;
        display: none;
      }
    }
  }

  &.writing {
    a {
      color: $writing-color;
    }
    .image {
      border-bottom-color: $writing-color;
    }
  }

  &.about {
    margin-bottom: 43px;
    a {
      color: $about-color;
    }
    .image {
      height: 400px;
      background-color: $body-color;
      border-bottom-color: $about-color;
      canvas {
        position: absolute;
        width: 100%;
        height: 400px;
        left:0;
        right: 0;
        margin: auto;
      }
    }
  }

  a {
    transition: color 0.3s;
    &:hover {
      color: $content-color;
    }
  }
}