.border-button {
  cursor: pointer;
  padding: 8px;
  text-align: center;
  background-color: $body-color;
  outline: 2px solid $content-color;
  font-weight: 700;
  @include transition(background-color 0.25s ease-out);

  &.icon-button {
    width: 19px;
    height: 19px;
    background-size: contain;
    background-position: center;

    &.close-button {
      position: absolute;
      top: 14px;
      right: 18px;
      visibility: hidden;
      background-image: url('../img/close-icon.png');
    }

    &.settings-button {
      position: absolute;
      top: 270px;
      left: 18px;
      background-image: url('../img/gear-icon.png');
    }

    &.toggle-button {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      background-image: url('../img/toggle-icon.png');
    }

    &.mail-button {
      background-image: url('../img/icons/mail.png');
    }

    &.codepen-button {
      background-image: url('../img/icons/codepen.png');
    }

    &.twitter-button {
      background-image: url('../img/icons/twitter.png');
    }

    &.github-button {
      background-image: url('../img/icons/github.png');
    }
  }

  &.back-button {
    position: absolute;
  }

  &.center-button {
    position: relative;
    display: table;
    margin: 0 auto;
  }
}

