body {
  background-color: $body-color;
  margin: 0;
  color: $content-color;
  font-family: $body-font;
  overflow-y: scroll;
}

a {
  color: $content-color;
  font-weight: 500;
  text-decoration: none;
  &:visited {
    color: $content-color;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}