#main-view {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  visibility: hidden;

  #content-container {
    position: absolute;
    width: 100%;
    top: 64px;
  }
  #menu-view {
    position: relative;
    height: 100%;
    margin: 0 1rem;

    .border-button {
      position: absolute;
    }
    #menu-canvas {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}