.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .loader {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: $content-color;
    @include animation(bounce-animation 1000ms infinite ease-in-out);
  }
}

@include keyframes(bounce-animation) {
  0% { transform: scale(1, 1); }
  60% { transform: scale(4, 0.25); }
  70% { transform: scale(0.25, 1.25); }
  90% { transform: scale(1, 1); }
}