section {
  footer {
    height: 35px;
    margin: -2px 1rem 1rem;
    padding-left: 2px;
  }

  &.projects {

  }
  &.lab {

  }
  &.writing {

  }
  &.about {
    footer {
      a {
        float: left;
      }
      a:not(:last-of-type) {
        margin-right: 43px;
      }
    }
  }
}