.item {
  margin-bottom: 5rem;
  p {
    line-height: 1.55;
    font-size: 1rem;
  }
  &.lab {
    .image {
      iframe {
        display: block;
      }
      img {
        display: none;
      }
    }
  }
}