.border-button {
  &:hover {
    background-color: $default-hover-color;
  }
  &.projects:hover {
    background-color: $projects-color;
  }
  &.lab:hover {
    background-color: $lab-color;
  }
  &.writing:hover {
    background-color: $writing-color;
  }
  &.about:hover {
    background-color: $about-color;
  }

  &.icon-button {
    &.close-button {
      top: 62px;
    }
  }
}

