/*based on https://github.com/liabru/dat-gui-light-theme*/
/*everything is important because dat.gui puts its own style sheet after it has been loaded, which overrides styles divined in the head*/
.dg.main .close-button {
  display: none !important;
}

.dg {
  color: #000 !important;
  font: 12px 'Raleway', sans-serif !important;
  text-shadow: none !important;
}

.dg li:not(.folder) {
  background: #fafafa !important;
  border-bottom: 1px solid #d0d0d0 !important;
}

.dg li.function span{
  font-weight: 700 !important;
  width: 100% !important;
  text-align: center !important;
}

.dg .cr.function {
  transition: background 0.15s ease-in !important;
}

.dg .cr.function:hover {
  background: #d0d0d0 !important;
}

.dg .cr.number input[type=text] {
  color: #000000 !important;
  transition: background 0.15s ease-in !important;
}

.dg .c input[type=text] {
  padding: 2px !important;
  background: #f1f1f1 !important;
}

.dg .c input[type=text]:hover {
  background: #d0d0d0 !important;
  color: #333 !important;
}

.dg .c input[type=text]:focus {
  background: #f1f1f1 !important;
  color: #000000 !important;
}

.dg .c .slider {
  background: #f1f1f1 !important;
  transition: background 0.15s ease-in !important;
}

.dg .c .slider-fg {
  background: #000000 !important;
  transition: background 0.15s ease-in !important;
}

.dg .c .slider:hover {
  background: #d0d0d0 !important;
}
.dg .c .slider:hover .slider-fg {
  background: #333 !important;
}

.gui-container {
  position: fixed;
  width: 300px;
  left: 0;
  top: -252px;
  display: block;
  @include transition(top 0.15s ease-in);

  &.gui-container-open {
    top: 0;
  }
}

