<!DOCTYPE HTML>
<html>
    <head>
        <title>zadvorsky</title>
        <meta name="description" content="Portfolio of Szenia Zadvornykh, a creative javascript developer from Amsterdam.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="loader-container">
            <div class="loader"></div>
        </div>

        <main id="main-view">
            <nav id="menu-view">
                <canvas id="menu-canvas"></canvas>

                <a href="#" class="border-button icon-button close-button"></a>

                <div class="main-menu">
                    <a href="#/projects" class="projects border-button">projects</a>
                    <a href="#/lab" class="lab border-button">lab</a>
                    <a href="#/writing" class="writing border-button">writing</a>
                    <a href="#/about" class="about border-button">about</a>
                </div>
            </nav>

            <div id="content-container">
                <!--content views go here-->
            </div>

            <div class="gui-container">
                <a href="#" class="border-button icon-button settings-button"></a>
            </div>
        </main>

        <!--TEMPLATES-->

        <script type="text/template" id="projects-view-template">
            <section class="projects">
                <div class="article-container">
                </div>
                <footer>
                    <a href="#" class="projects border-button back-button">back</a>
                </footer>
            </section>
        </script>
        <script type="text/template" id="project-view-template">
            <div class="image">
                <img src="<%= image %>">
            </div>
            <img src="<%= banner %>" class="banner">
            <div class="projects border-button icon-button toggle-button"></div>
            <h1><%= title %></h1>
            <small><%= type %> | <a target="_blank" href="<%= url %>"><%= urltext %></a></small>
            <p><%= body %></p>
        </script>

        <script type="text/template" id="lab-view-template">
            <section class="lab">
                <div class="article-container">
                </div>
                <footer>
                    <a href="" class="lab border-button back-button">back</a>
                    <a href="http://codepen.io/zadvorsky/" target="_blank" class="lab border-button center-button">more on codepen</a>
                </footer>
            </section>
        </script>
        <script type="text/template" id="pen-view-template">
            <div class="image">
                <p>loading...</p>
                <a target="_blank" href="http://codepen.io/zadvorsky/full/<%= hash %>">
                    <img src="<%= image %>">
                </a>
                <iframe scrolling='no' frameborder='no' allowfullscreen='true'></iframe>
            </div>
            <div class="lab border-button icon-button toggle-button"></div>
            <h1><%= title %></h1>
            <small><a target="_blank" href="http://codepen.io/zadvorsky/full/<%= hash %>">view full screen</a></small>
            <p><%= body %></p>
        </script>

        <script type="text/template" id="writing-view-template">
            <section class="writing">
                <div class="article-container">
                </div>
                <footer>
                    <a href="#" class="writing border-button back-button">back</a>
                </footer>
            </section>
        </script>
        <script type="text/template" id="article-view-template">
            <div class="image">
                <img src="<%= image %>">
            </div>
            <div class="writing border-button icon-button toggle-button"></div>
            <h1><%= title %></h1>
            <small><%= type %></small>
            <p><%= body %></p>
        </script>

        <script type="text/template" id="about-view-template">
            <section class="about">
                <article class="about item">
                    <div class="image">
                        <canvas></canvas>
                    </div>
                    <h1></h1>
                    <p>
                        My name is Szenia Zadvornykh. I'm a creative developer living in <s>Amsterdam</s> New York. I enjoy crafting things that surprise and delight.
                        <br><br>
                        I'm interested in the web as a platform for creative expression. Advancements in hardware and native web technologies, combined with the shared-by-default nature of the internet, foster endless possibilities.
                        I have greatly enjoyed exploring this space so far, and there is plenty left to discover.
                        <br><br>
                        I'm proud to have worked at <a target='_blank' href='http://www.dpdk.com'>dpdk</a> and <a target='_blank' href='http://yourmajesty.co/'>Your Majesty</a>, creating award winning projects for international clients. In my own time, I enjoy making and sharing self initiated work, most of which can be found on my <a target='_blank' href='http://codepen.io/zadvorsky/'>Codepen</a> profile.
                    </p>
                </article>
                <footer>
                    <a target="_blank" href="mailto:s.zadvornykh@gmail.com" class="about border-button icon-button mail-button"></a>
                    <a target="_blank" href="http://codepen.io/zadvorsky/" class="about border-button icon-button codepen-button"></a>
                    <a target="_blank" href="https://twitter.com/zadvorsky" class="about border-button icon-button twitter-button"></a>
                    <a target="_blank" href="https://twitter.com/zadvorsky" class="about border-button icon-button github-button"></a>
                </footer>
            </section>
        </script>

        <!--MAGIC-->

        <script async src="build/final.js"></script>
    </body>
</html>